* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.slider {
   position: absolute;
   top: 0;
   left: 0;
   background-color: burlywood;
   width: 100%;
   height: 100%;
   z-index: -1;
}
nav {
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    align-items: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.headline {
    grid-column: 2/4;
}
#hamburguer {
    width: 30px;
    
}
section {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    height: 80vh;
}
.hero {
    width: 100%;
    height: 60%;
    background-color: rebeccapurple;
}
section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
section h1 {
    width: 30%;
    height: 100%;
    position: relative;
    top: -90px;
    color: white
}